.root {
  position: relative;
  display: flex;
  margin: 12px;
  /* flex-direction: column; */
  /* place-items: center; */
  height: 32vh;
}
.bar {
  position: absolute;
  padding: 8px;
  border-radius: 4px;
  background-color: tomato;
  transition: all 0.6s ease-in-out;
  text-align: end;
  color: #fff;
  font-weight: 600;
  margin: 4px;
}
